/* Header styling */
header {
    background-color: var(--dark-beige);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 75px;
    border-radius: 0px 0px 25px 25px;
    padding: 0 30px;

}

.navbar-brand img {
    height: 75px;
    object-fit: contain;
    margin-top: -20px;
}

.logo-img{
    top:-30px;
}

.navbar-nav {
    top:0;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.navbar-nav .nav-link {
    color: var(--logo-gray);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    transition: all 0.3s ease;
}


/* Appointment button styling */
.appointment-btn {
    background-color: var(--logo-gray);
    color: var(--dark-beige);
    font-family: 'Montserrat', sans-serif;
    width: 155px;
    height: 44px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.appointment-btn:hover {
    background-color: var(--logo-blue);
}

/* Responsive adjustments */
@media (max-width: 991.98px) {
    .navbar-collapse {
        background-color: var(--dark-beige);
        padding: 15px;
        border-radius: 0 0 20px 20px;
    }
    
    .navbar-nav {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
        width: 100%;
    }
    
    .navbar-nav .nav-item {
        width: 100%; /* Ensure nav items take full width */
        text-align: center; /* Center-align text */
    }
    
    .navbar-nav .nav-link {
        padding: 10px 0; /* Add spacing between items */
        width: 100%; /* Full width for links */
    }
    
    .navbar-nav .appointment-btn {
        margin-top: 15px;
        width: 100%; /* Full width for smaller screens */
        text-align: center; /* Center-align button */
    }
}